.container-fluid img {
  width: 150px;
  margin-right: 0;
  margin-left: 0;
}

a.nav-link.active {
  font-size: 14px;
  font-weight: 600;
  color: #323232 !important;
}

li.nav-item {
  width: 100%;
  height: auto;
  border-top: 1px solid #eee;
}

a.nav-link.active:hover {
  color: #ff6e00 !important;
}

#contact {
  -webkit-padding-bottom: 150%;
  -moz-padding-bottom: 120%;
  padding-bottom: 155%;
}

@media (min-width: 760px) {
  .cFluid {
    max-width: 100%;
    align-items: flex-start !important;
  }

  .cFluid img {
    margin-right: 5%;
    margin-left: 2%;
    padding-top: 10px;
    width: 180px;
  }

  ul.navbar-nav {
    background-color: #f8f9fa;
    max-width: 100%;
  }

  li.nav-item {
    border-top: 0;
  }

  #contact {
    padding-bottom: 0;
  }
}
